

:root{

/*Font*/
--font1: 'Overpass', sans-serif;
--font2: 'Ubuntu', sans-serif;
/*Primary*/

--light-red:hsl(356, 100%, 66%);
--very-light-red:hsl(355, 100%, 74%);
--very-dark-blue:hsl(208, 49%, 24%); 

/*Neutral*/
--white:hsl(0, 0%, 100%);
--grayish--blue:hsl(240, 2%, 79%);
--very-dark-grayish-blue:hsl(207, 13%, 34%);
--very-dark-black-blue:hsl(240, 10%, 16%);

/*Gradient Mobile*/

--gradient-very-light-red:hsl(13, 100%, 72%);
--gradient-light-red:hsl(353, 100%, 62%);
--very-dark-gray-blue: hsl(237, 17%, 21%);
--very-dark-desaturated-blue: hsl(237, 23%, 32%);

/*padding*/

--paddin-container: 80px 0;

}

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: var(--font1);
}


.hero{
    padding: 0;
    min-height: 100vh;
    /*Para poder crear un degradado o gradiente se utiliza backgroud-image.*/
    background-image: linear-gradient(var(--gradient-very-light-red), var(--gradient-light-red));
    position: relative;
    z-index: 1;
    overflow: hidden;
    /*Crear la pestana izquierda redondeada*/
    border-radius: 0 0 0 100px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--paddin-container);
}

.nav{
    display: grid;
    font-family: var(--font2);
    height: 150px;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    justify-content: space-between;
}

.none{
    display: none;
}

.hero__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    /*Para que ocupe el resto del contenido del hero, sin contar el alto del nav.*/
    height: calc(100vh - 150px);
    
}

.hero__title{
    font-size: 3.5rem;
    font-family: var(--font1);
    
}

.hero__paragraph{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1em;
}

.hero__btns{
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 20px;
    
}

.hero__cta{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: var(--font2);
    border: 1px solid #fff;
    padding: 12px 15px;
    border-radius: 30px;
    background-color: var(--white);
    color: var(--light-red);
    font-weight: 600;
}

.hero__cta-bg{
    --white: transparent; 
    --light-red: #fff;
}

.hero__patterns{
    position: absolute;
    top: 0;
    left: -290px;
    height: 180%;
    z-index: -1;
    opacity: 0.4;
}

.subtitle{
    color: var(--very-dark-blue);
    text-align: center;
    font-size: 2.7rem;
}

.designed__about{
    margin-bottom: 40px;
}


.designed__ilustration{
    height: 350px;
    background-image: url('/assets/img/illustration-editor-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.designed__subtitle{
    color: var(--very-dark-blue);
    text-align: center;
    font-size: 2.7rem;
}

.designed__paragraph{
    color: var(--very-dark-grayish-blue);
    font-family: var(--font2);
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
}

.infraestructure{
    position: relative; 
    text-align: center;
}

.infraestructure .container{
    padding: 20px 0;
}

.infraestructure::before{
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    /*Donde empieza y donde termina 
    Empieza en el top:20%
    Termina en bottom: 0*/
    top: 20%;
    bottom: 0;
    /**/
    background-image: linear-gradient(var(--very-dark-desaturated-blue), var(--very-dark-gray-blue));
    z-index: -1;
    border-radius: 0 100px 0 100px;
    
}

.infraestructure__img{
    width: 100%;
}

.infraestructure__texts{
    color: #fff;
    padding-bottom: 80px;
}

.infraestructure__title{
    font-size: 2.5rem;
}


.infraestructure__paragraph{
    font-size: 1.6rem;
    color: var(--grayish--blue);
    line-height: 1.5;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.infraestructure__pattern{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}

.designed__ilustration--right{
    background-image: url('/assets/img/illustration-laptop-mobile.svg');
    background-size:cover;

}

.footer{
    background: var(--very-dark-black-blue);
    text-align: center;
    border-radius: 0 90px 0 0;
}

.footer__img{
   margin-bottom: 60px; 
}

.footer>u{
    list-style: none;
}

.footer__links{
    margin-top: 60px;
}

.footer__links:nth-of-type(1){
    margin-top: 0;
}

.footer__link{
    display: block;
    font-size: 1.6rem;
    color:var(--grayish--blue);
    text-decoration: none;
    margin-bottom: 5px;
}

.footer__link--main{
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--white);
}